In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import json

data = pd.read_csv('train.csv')
data.head()

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.10,0.90,7,286,4,0,1,0,sales,low
1,0.89,0.93,4,249,3,0,0,0,sales,low
2,0.38,0.50,2,132,3,0,1,0,accounting,low
3,0.95,0.71,4,151,4,0,0,0,sales,medium
4,0.84,0.84,5,163,3,0,0,0,technical,low

In [2]:
X_train, X_test, y_train, y_test = train_test_split(
    data,
    data.left,
    test_size=0.2,
    random_state=0)

print len(X_train)

8990

In [116]:
X_train_lim = X_train[['satisfaction_level']]
# X_train_lim.head()
k_means = KMeans(n_clusters=12, random_state=0).fit(X_train_lim)

cluster_map = pd.DataFrame()
cluster_map['satisfaction_level'] = X_train_lim['satisfaction_level']
cluster_map['cluster'] = k_means.labels_
print min(cluster_map[cluster_map.cluster == 11].sort_values(['satisfaction_level'])['satisfaction_level'])
print max(cluster_map[cluster_map.cluster == 11].sort_values(['satisfaction_level'])['satisfaction_level'])

0.18
0.29

In [103]:
# 0.75 to 0.8
# 0.3 to 0.39
# 0.61 to 0.67
# 0.09 to 0.17
# 0.95 to 1.0
# 0.4 to 0.46
# 0.88 to 0.94
# 0.47 to 0.53
# 0.68 to 0.74
# 0.81 to 0.87
# 0.54 to 0.6
# 0.18 to 0.29
#satisfaction_level
#0.031786002213136544
#0.08184918740708536
#0.117449869384533
#0.15128534012884431
#0.15078773185664396
#0.19272091419631415
#0.18171911043944522
#0.17741331738554467
#0.185775339007071

In [117]:
curr_data = X_train.copy()
map_range_sl = lambda x: 'a' if x<=0.17 else ('b' if x <= 0.29 else ('c' if x<=0.39 else ('d' if x<=0.46 else ('e' if x<=0.53 else ('f' if x<=0.6 else ('g' if x<=0.67 else ('h' if x<=0.74 else ('i' if x<=0.8 else ('j' if x<=0.87 else ('k' if x<=0.94 else 'l')))) ))))))
curr_data.satisfaction_level = X_train.satisfaction_level.apply(map_range_sl)
m = len(curr_data)
col_pos = 0
col_neg = 0
I=0
col = 'satisfaction_level'
for categ in curr_data[col].unique():
    pos = 0
    neg = 0
    if 1 in curr_data.groupby([col])['left'].value_counts()[categ]: 
        pos = curr_data.groupby([col])['left'].value_counts()[categ][1]
    if 0 in curr_data.groupby([col])['left'].value_counts()[categ]:
        neg = curr_data.groupby([col])['left'].value_counts()[categ][0]
    col_pos += pos
    col_neg += neg
    pos_ratio = float(pos)/float(pos+neg)
    neg_ratio = float(neg)/float(pos+neg)
    if pos_ratio == 0 or pos_ratio == 1:
        impurity = 0
    else:
        impurity = -((pos_ratio*np.log(pos_ratio)) + (neg_ratio*np.log(neg_ratio)))
    I += (float(pos+neg)/float(m))*impurity
col_pos_ratio = float(col_pos)/float(col_pos+col_neg)
col_neg_ratio = float(col_neg)/float(col_pos+col_neg)
if col_pos_ratio == 0 or col_pos_ratio == 1:
    E = 0
else:
    E = -((col_pos_ratio*np.log(col_pos_ratio)) + (col_neg_ratio*np.log(col_neg_ratio)))
G = E - I
print G

0.1953569604373201